* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #1f242d;
    /* Variable de couleur */
    --second-bg-color: #323946;
    /* Variable de couleur */
    --text-color: #fff;
    /* Variable de couleur */
    --main-color: #0ef;
    /* Variable de couleur */
}

section {
    min-height: 79vh;
    padding: 10rem 9% 2rem;
}


.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 6rem;
    margin-top: 16rem;
    position: relative;
    bottom: 90px;
    background: var(--bg-color);
}

.about-content {
    margin-top: 0;
    position: relative;
    bottom: 50px;
}

.about-content p {
    font-size: 1.6rem;
    margin-bottom: 2.5rem;
}


.heading {
    text-align: center;
    font-size: 4.5rem;
}


.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 2.6rem;
    margin: 2rem 0 3rem;
}

/*********************
|   EMPLOIE SOUHAITE | 
**********************/

.padd-15 {
    padding-right: 15px;
}


.personal-info .info-item p {
    font-weight: 600;
    padding: 10px 0;
    font-size: 16px;
    color: var(--text-color);
    border-bottom: 1px solid var(--second-bg-color);
    width: 25%;
}

.about .about-content .personal-info .info-item p span {
    font-weight: 400;
    color: var(--text-black-700);
    margin-left: 4px;
    display: inline-flex;
}


/*--------------------
|       BOUTONS      | 
---------------------*/

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s;
}

.btn:hover {
    box-shadow: none;
}
