* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #1f242d;
    /* Variable de couleur */
    --second-bg-color: #323946;
    /* Variable de couleur */
    --text-color: #fff;
    /* Variable de couleur */
    --main-color: #0ef;
    /* Variable de couleur */
}

.company {
    min-height: 93vh;
    padding: 10rem 9% 2rem;
    background: var(--second-bg-color);
    text-align: center;
}

.heading {
    position: relative;
    font-size: 4.5rem;
    margin-bottom: 3rem;
    text-align: center;
}

.company h2 {
    display: inline-block;
    transform: translateX(-50%);
    left: 75px;
}

.intro-content {
    display: flex;
    justify-content: center;
    position: relative;
    left: 100px;
    margin-bottom: 5rem;
    font-size: 1.3rem;
}


.company .company-row {
    width: 185rem;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}


.company-row .company-column {
    flex: 1 1 40rem;
}


.company-column h3 {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}

.company-column .company-box {
    position: relative;
}

.company-box .company-content {
    position: relative;
    padding: 25px 10 25px 10px;
    z-index: 1;
    overflow: hidden;
}

.company-box .company-content .text-content {
    font-size: 1.8rem;
}

.company-box .company-content:hover::before {
    width: 100%;
}


.company-content .progress h3 {
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}


/* BOUTON REDICRECTION VERS LA CAISSE */

.company-box .company-content .text-content .social-media {
    display: flex;
    justify-content: center;
    height: 35rem;
}

.social-media a {
    height: 30rem;
    width: 37rem;
    margin: 3rem 2.5rem 3rem 0;
    padding-top: 7px; /* Centre les icons dans le cercle */
    font-size: 2rem;
    color: var(--main-color);
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    transition: .5s ease;
}

/*------------------------
|         FOOTER         |
------------------------*/


footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--bg-color);
}

.footer-text {
    font-size: 1.6rem;
}