* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #1f242d;
    /* Variable de couleur */
    --second-bg-color: #323946;
    /* Variable de couleur */
    --text-color: #fff;
    /* Variable de couleur */
    --main-color: #0ef;
    /* Variable de couleur */
}

section {
    min-height: 93.8vh;
}

.contact h2 {
    margin-bottom: 3rem;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}


.contact form {
    text-align: center;
    max-width: 70rem;
    margin: 1rem auto;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    font-size: 1.6rem;
    padding: 1.5rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    margin: .7rem 0;
    border-radius: .8rem;
}

.contact form .input-box input {
    width: 49%;
    height: 66px;
    margin: 3px 7px 8px 0px;
}


.contact form textarea {
    resize: none;
    height: 386px;
}


.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}


input[type='number'] {
    appearance: textfield;
    /*Retire le spin-button sur le navigateur Firefox */
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text {
    font-size: 1.6rem;
}


/* BREAKPOINTS */

@media (max-with: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-with: 991px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    footer {
        padding: 2rem 3%;
    }
}















