* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	border: none;
	outline: none;
	font-family: 'Poppins', sans-serif;
}

:root {
	--bg-color: #1f242d;
	/* Variable de couleur */
	--second-bg-color: #323946;
	/* Variable de couleur */
	--text-color: #fff;
	/* Variable de couleur */
	--main-color: #0ef;
	/* Variable de couleur */
}


span {
	color: var(--main-color);
	margin-left: 5px;
}



.heading {
	text-align: center;
	font-size: 4.5rem;
}

.portfolio {
	background: var(--second-bg-color);
}


.portfolio h2 {
	margin-bottom: 4rem;
}


.portfolio h3 {
	font-size: 2.5rem;
	display: flex;
	justify-content: center;
	margin-bottom: 3.5rem;
}

.portfolio .text-content {
	display: flex;
	justify-content: center;   
	margin-bottom: 3rem;
}

.portfolio .text-content p {
	font-size: 1.7rem;
}


.portfolio .text-sujet {
	display: flex;
	flex-direction: column;
}


.portfolio .text-sujet h2 {
	font-size: 2.5rem;
	margin-bottom: 1rem;
}


.portfolio .text-sujet p {
	font-size: 1.7rem;
	text-align: inline;
	margin-bottom: 3rem;
}



/*-------------------------- 
|CONTAINER DES PORTFOLIO-BOX| 
---------------------------*/

.portfolio-container {
	display: flex;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 2.5rem;
}


.portfolio-container .portfolio-box {
	width: 50%;
	height: 37rem;
	position: relative;
	display: flex;
	border-radius: 2rem;
	box-shadow: 0 0 1rem var(--bg-color);
	overflow: hidden;
	background-image: url('../media/backgroundProjet.jpg');
}

.portfolio-container .portfolio-box:nth-child(2) {
	width: 50%;
	height: 37rem;
	position: relative;
	display: flex;
	border-radius: 2rem;
	box-shadow: 0 0 1rem var(--bg-color);
	overflow: hidden;
	background-image: url('../media/backgroundProjet.jpg');
}

.portfolio-box:hover img {
	transform: scale(1.1);
}


.portfolio-box .LogoFeedly {
	width: 100%;
	position: relative;
	transition: .5s ease;
}

.portfolio-box .LogoGA{
	width: 75%;
	position: relative;
	left: 15%;
	transition: .5s ease;
}


.portfolio-box .LogoReddit{
	width: 100%;
	position: relative;
	transition: .5s ease;
}


.portfolio-box .portfolio-layer {
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
	flex-direction: column;
	text-align: center;
	padding: 0 4rem;
	transform: translateY(100%);
	transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer {
	transform: translateY(0);
}


.portfolio-layer h4 {
	font-size: 3rem;
}

.portfolio-layer p {
	font-size: 1.6rem;
	margin: .3rem 0 1rem;
}

.portfolio-layer a {
	text-decoration: none;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 5rem;
	height: 5rem;
	background: var(--text-color);
	border-radius: 50%;
}

.portfolio-layer a i {
	font-size: 2rem;
	color: var(--second-bg-color);
	text-decoration: none;
}

/*------------------------
|      INFOS RECOLTE     |
------------------------*/

.containerTreatment{
	width: auto;
	height: auto;
	display: flex;
	justify-content: flex-start;
}

.infosTreatment h2{
	font-size: 2.5rem;
	margin-top: 3rem;
	margin-bottom: 1.5rem;
}


.infosTreatment p {
	font-size: 1.7rem;
}


/*---------------------------
|      INFOS DEFINITIONS     |
----------------------------*/

.containerDef{
	width: auto;
	height: auto;
	display: flex;
	margin-top: 3rem;
	margin-bottom: 1.5rem;
}

.infosDef {
	width: auto;
	height: auto;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	font-size: 2.5rem;
}


.containerDef .infosDef h2 {
	font-size: 2.5rem;
}

.infosDef .blocDef {
	display: flex;
	flex-direction: column;
}

.infosDef .blocDef h3 {
	display: flex;
	justify-content: flex-start;
	font-size: 2rem;
	margin-top: 2rem;
	margin-bottom: 1.5rem;
}


.infosDef p {
	font-size: 1.7rem;
}


/*------------------------
|     InfosImportant	 |
------------------------*/


.portfolio-container-important .portfolio-box {
	width: 50%;
	height: 37rem;
	position: relative;
	display: flex;
	border-radius: 2rem;
	box-shadow: 0 0 1rem var(--bg-color);
	overflow: hidden;
	background-color: #323946;
}


/*------------------------
|     InfosRemember      |
------------------------*/

.timeline-item {
	width: 100%;
	margin-bottom: 70px;
  }
  
  
  
  .timeline-img {
	width: 30px;
	height: 30px;
	background: #4287f5;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	margin-top: 25px;
	margin-left: -15px;
  }
  
  
  .timeline-item:nth-child(2n) .timeline-content {
	float: right;
	padding: 40px 30px 10px 30px;
  }

  .timeline-item .timeline-img-header {
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../files/veille/stablediffusion.jpg") center center no-repeat;
	background-size: auto, auto;
	background-size: cover;
  }
  
  
  .timeline-item:nth-child(2) .timeline-img-header {
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../files/veille/stablediffusion.jpg") center center no-repeat;
	  background-size: auto, auto;
	background-size: cover;
  }

  .timeline-item:nth-child(3) .timeline-img-header {
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../files/veille/stablediffusion.jpg") center center no-repeat;
	  background-size: auto, auto;
	background-size: cover;
  }

  .timeline-item:nth-child(4) .timeline-img-header {
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../files/veille/stablediffusion.jpg") center center no-repeat;
	  background-size: auto, auto;
	background-size: cover;
  }

  .timeline-item:nth-child(6) .timeline-img-header {
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../files/veille/stablediffusion.jpg") center center no-repeat;
	background-size: auto, auto;
	background-size: cover;
  }


  .timeline-img-header {
	height: 200px;
	position: relative;
	margin-bottom: 20px;
  }
  
  
  .timeline-img-header h6 {
	color: #FFFFFF;
	position: absolute;
	bottom: 5px;
	left: 63px;
  }


  h6 {
	font-size: 25px;
	line-height: 30px;
  }
  
  
  .timeline-card p {
	padding: 0 20px;
	font-size: 14px;
  }
  
  

  .date {
	background: #4287f5;
	display: inline-block;
	color: #FFFFFF;
	padding: 10px;
	position: absolute;
	top: 0;
	right: 0;
  }
  

  .timeline-item:nth-child(2n) .timeline-content .date {
	right: auto;
	left: 0;
  }



.timeline-content img {
	width: 50%;
	position: relative;
	top: 70px;
	margin-top: 15px;
	margin-bottom: 0;
}
  
  
  .btn.btn-black {
	display: inline-block;
	padding: 1rem 2.8rem;
	background: var(--main-color);
	border-radius: 4rem;
	box-shadow: 0 0 1rem var(--main-color);
	font-size: 1.6rem;
	color: var(--second-bg-color);
	letter-spacing: .1rem;
	font-weight: 600;
	transition: .5s;
  }

  .btn:hover {
	box-shadow: none;
  }

  .btn-marge {
	margin: 10px;
  }


.blocConclusion h2 {
	font-size: 3.5rem;
}


.blocConclusion p {
	font-size: 15px;
}
  

/*------------------------
|         FOOTER         |
------------------------*/


footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 2rem 9%;
	background: var(--bg-color);
}

.footer-text {
	font-size: 1.6rem;
}