* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #1f242d;
    /* Variable de couleur */
    --second-bg-color: #323946;
    /* Variable de couleur */
    --text-color: #fff;
    /* Variable de couleur */
    --main-color: #0ef;
    /* Variable de couleur */
}


span {
    color: var(--main-color);
    margin-left: 5px;
}



.heading {
    text-align: center;
    font-size: 4.5rem;
}

.portfolio {
    background: var(--second-bg-color);
}


.portfolio h2 {
    margin-bottom: 4rem;
}


.portfolio h3 {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    margin-bottom: 3.5rem;
}

.portfolio .text-content {
    display: flex;
    justify-content: center;   
    margin-bottom: 3rem;
}

.portfolio .text-content p {
    font-size: 1.8rem;
}


.portfolio .text-sujet {
    display: flex;
    flex-direction: column;
}


.portfolio .text-sujet h2 {
    font-size: 2.5rem;
    margin: 0;
}


.portfolio .text-sujet p {
    font-size: 1.5rem;
    text-align: inline;
    margin-bottom: 3rem;
}



/*-------------------------- 
|CONTAINER DES PORTFOLIO-BOX| 
---------------------------*/

.portfolio-container {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
}


.portfolio-container .portfolio-box {
    width: 50%;
    height: 37rem;
    position: relative;
    display: flex;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    background-image: url('../media/backgroundProjet.jpg');
}

.portfolio-container .portfolio-box:nth-child(2) {
    width: 50%;
    height: 37rem;
    position: relative;
    display: flex;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    background-image: url('../media/backgroundProjet.jpg');
}

.portfolio-box:hover img {
    transform: scale(1.1);
}


.portfolio-box .LogoFeedly {
    width: 100%;
    position: relative;
    transition: .5s ease;
}

.portfolio-box .LogoGA{
    width: 75%;
    position: relative;
    left: 15%;
    transition: .5s ease;
}


.portfolio-box .LogoReddit{
    width: 100%;
    position: relative;
    transition: .5s ease;
}


.portfolio-box .portfolio-layer {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
}


.portfolio-layer h4 {
    font-size: 3rem;
}

.portfolio-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.portfolio-layer a {
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.portfolio-layer a i {
    font-size: 2rem;
    color: var(--second-bg-color);
    text-decoration: none;
}




/*------------------------
|         FOOTER         |
------------------------*/


footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--bg-color);
}

.footer-text {
    font-size: 1.6rem;
}